<%- include("partials/header.ejs") %>

<h1 class="congrats">Congrats! your post has been submitted to the database, go to <a href="/">home</a> in order to see it</h1>

<%- include("partials/footer.ejs") %>
